
.minVal{
    width: 50%;
    text-align: left;
    float: left;
}

.maxVal{
    width: 50%;
    text-align: right;
    float: left;
}

.slideHandle{
    width: 15px !important;
    height: 15px !important;
    top: 10px !important;
}