.filterContainer{
    width: 300px;
    border: solid 1px grey;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
}

.filterTitle{
    text-decoration: underline;
    margin-top: 0px;
}

.inputLabel{
    margin: 0px;
    font-size: 0.7em;
}

.errorMessage{
    color: red;
    border: solid 1px red;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    padding: 10px;
}